{% extends 'base.html' %}
{% load static %}


{% block content %}


	<section class="banner-area">
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-start">
				<div class="col-lg-12">
					<div class="active-banner-slider owl-carousel">
						<!-- single-slide -->
						<div class="row single-slide align-items-center d-flex">
							<div class="col-lg-5 col-md-6">
								<div class="banner-content">
									<h1>Welcome to Karma <br> online library</h1>
									<p>A place to save you time walking around</p>

								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="{% static 'img/banner/banner-pic.jpg' %}" alt="">
								</div>
							</div>
						</div>
						<!-- single-slide -->

                        <div class="row single-slide">

							<div class="col-lg-5">
								<div class="banner-content">
									<h1>Katalog umetnickih <br> dela!</h1>
									<p>Dobrodosli na online katalog za sve ljubitelje ove vrste umetnosti...</p>
									<div class="add-bag d-flex align-items-center">
										<a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
										<span class="add-text text-uppercase">Dodaj u Korpi</span>
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="{% static 'img/banner/banner-img.jpg' %}" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- start features Area -->
	<section class="features-area section_gap">
		<div class="container">
			<div class="row features-inner">
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="{% static 'img/features/f-icon1.png' %}" alt="">
						</div>
						<h6>Access</h6>
						<p>Free access to all the books in the lib refreshed on a weekly basis</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="{% static 'img/features/f-icon2.png' %}" alt="">
						</div>
						<h6>Search</h6>
						<p>Find your favourite book genre or writer</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="{% static 'img/features/f-icon3.png' %}" alt="">
						</div>
						<h6>Info</h6>
						<p>Take a closer look at the book info</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="{% static 'img/features/f-icon6.png' %}" alt="">
						</div>
						<h6>Reservation</h6>
						<p>Contact us and we keep your book up to 3 days</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end features Area -->

	<!-- Start category Area -->
	<section class="category-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<div class="row">
						<div class="col-lg-8 col-md-8">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="{% static 'img/category/pic1.jpg' %}" alt="">
								<a href="img/category/c1.jpg" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<h6 class="deal-title">Sneaker for Sports</h6>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="{% static 'img/category/pic22.jpg' %}" alt="">
								<a href="img/category/c2.jpg" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<h6 class="deal-title">Downtown central</h6>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="{% static 'img/category/pic3.jpg' %}" alt="">
								<a href="img/category/c3.jpg" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<h6 class="deal-title">Product for Couple</h6>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-8 col-md-8">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="{% static 'img/category/pic4.jpg' %}" alt="">
								<a href="img/category/c4.jpg" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<h6 class="deal-title">Sneaker for Sports</h6>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-deal">
						<div class="overlay"></div>
						<img class="img-fluid w-100" src="{% static 'img/category/pic5.jpg' %}" alt="">
						<a href="img/category/c5.jpg" class="img-pop-up" target="_blank">
							<div class="deal-details">
								<h6 class="deal-title">Modern interior</h6>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End category Area -->

	<!-- start product Area -->

    <section class="owl-carousel active-product-area section_gap">
		<!-- single product slide -->
		<div class="single-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Latest books</h1>
							<p>Most recent books on our shelves waiting for you</p>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- single product -->
					 {% for obj in  latest %}
                    <div class="col-lg-3 col-md-6">
						<div class="single-product">
							<img class="img-fluid" src="{{ obj.thumbnail.url }}" alt="">
							<div class="product-details">
								<h6>{{ obj.title }}</h6>

                                <div class="price">
                                    {% for cat in obj.categories.all %}
									<h6>{{ cat}}</h6>

                                    {% endfor %}
								</div>
								<div class="prd-bottom">


									<a href="{% url 'single-book' obj.id %}" class="social-info">
										<span class="lnr lnr-move"></span>
										<p class="hover-text">view more</p>
									</a>
								</div>
							</div>
						</div>
					</div>
                {% endfor %}







				</div>
			</div>
		</div>
		<!-- single product slide -->
		<div class="single-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Most popular</h1>
							<p>Some of the books that you like the most</p>
						</div>
					</div>
				</div>
				<div class="row">


					<!-- single product -->
					 {% for obj in  featured %}
                    <div class="col-lg-3 col-md-6">
						<div class="single-product">
							<img class="img-fluid" src="{{ obj.thumbnail.url }}" alt="">
							<div class="product-details">
								<h6>{{ obj.title }}</h6>
								<div class="price">
									{% for cat in obj.categories.all %}
									<h6>{{ cat}}</h6>

                                    {% endfor %}
								</div>
								<div class="prd-bottom">


									<a href="{% url 'single-book' obj.id %}"class="social-info">
										<span class="lnr lnr-move"></span>
										<p class="hover-text">view more</p>
									</a>
								</div>
							</div>
						</div>
					</div>
                       {% endfor %}







				</div>
			</div>


		</div>
	</section>
	<!-- end product Area -->




{% endblock content %}